



h1 {
    font-size: 100px;
    text-align: center;
    color: black;
}

h2 {
    color: white;
    font-size: 70px;
}

img {
    width: 300px;
    height: 500px;
    background-size: 80%;
    border-radius: 30px;
    border: 4px solid #000508;
    display: inline-block;
}

/* .cards {
display: inline;
margin: auto 300px;
} */

body {
    text-align: center;
    background-color: dodgerblue;
    background-size: cover;
    background-image: url('https://static1.squarespace.com/static/53323bb4e4b0cebc6a28ffa2/t/56e1d46d45bf21613f224998/1457640588568/');
    /* font-family: 'Orbitron', sans-serif; */
    font-family: 'Righteous', cursive;
    /* font-family: 'Baloo Tammudu', cursive; */
}

button {
    height: 100px;
    width: 200px;
    font-size: 30px;
    background: #666;
    margin: 25px;
    border-radius: 25px;
}

.w {
    max-width: 15%;
    display: inline-block;
}



.toggle:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  /* .toggle:active {    
    animation: shake 0.1s ease-in-out 0.1s infinite alternate;
}

@keyframes shake {
 from {
    -webkit-transform: rotate(10deg);
 }
 to {
   -webkit-transform-origin:center center;
   -webkit-transform: rotate(-10deg);
 }

} */