/* div {
    border: 2px solid blue;
    height: 40px;
    width: 40px;
} */

/* * { 
    padding: 0; margin: 0; 
}

canvas { 
    background: #eee; 
    display: block; 
    margin: 0 auto; 
} */

h1 {
    font-size: 40px;
    text-align: center;
}
img:hover {
    background: grey;
}

img {
margin: 50px;
text-align: center;
width: 200px;
height: 300px;
background-size: cover;
border-radius: 30px;
}

div {
    display: inline;
   text-align: center;
   margin: auto 300px;
}


